body {
    font-family: Arial, sans-serif;
    background-image: url(../3.\ Matriz/matriz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: fit-content;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: aliceblue;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
td {
    padding: 10px;
    border: 1px solid #ddd;
}

.primo {
    background-color: yellow;
}